<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/loginRegister.css" />
    <link rel="stylesheet" href="~/Content/stylepro.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <header>
        <div class="header-left">
            <h1>
                <a href="@Url.Action("Index", "Home")">
                    <img src="~/Images/Planegif.gif" alt="Logo" class="logo-img"><strong>Chào mừng đến với Flight Reservation xác minh đăng nhập</strong>
                </a>
            </h1>
        </div>
        <div class="header-right">
            <a href="@Url.Action("About", "Home")">Về trang web</a>
        </div>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        <p>&copy; 2024 Trường Đại học Ngoại ngữ - Tin học TPHCM. Đã đăng ký bản quyền.</p>
    </footer>
</body>
</html>
